html{
    font-size: 62.5%;
}

body{
    background-color: #002244;
}

.fa-snowflake{
    animation: fall 7s linear forwards;
    color: #fff;
    position: absolute;
    top: -2.5rem;
}

@keyframes fall {
    to{
        transform: translateY(105vh);
    }
}