html{
    font-size: 62.5%;
    font-family: fantasy;
}

body{
    background-color: #002244;
    transition: all;
}

p{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    text-decoration: underline;
}

.fa-snowflake{
    animation: fall 7s linear forwards;
    color: #fff;
    position: absolute;
    top: -2.5rem;
}

@keyframes fall {
    to{
        transform: translateY(105vh);
    }
}